
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <img src="http://localhost:56878/image?url=http://localhost:56878/lib/content/upload/thanos.jpg&w=1800&h=730" />
</body>
</html>
